alabaster==0.7.12
astroid==1.6.6
Babel==2.9.1
backports.functools-lru-cache==1.6.4
bleach==3.3.1
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.5
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.5
docutils==0.17.1
enum34==1.1.10
futures==3.3.0
idna==2.10
imagesize==1.4.1
importlib-resources==3.3.1
isort==4.3.21
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pathlib2==2.3.7.post1
pkginfo==1.8.3
Pygments==2.5.2
pylint==1.9.5
pyparsing==2.4.7
pytz==2022.4
readme-renderer==30.0
requests==2.27.1
requests-toolbelt==0.10.0
scandir==1.10.0
singledispatch==3.7.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.6
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-websupport==1.1.2
tqdm==4.64.1
twine==1.15.0
typing==3.10.0.0
unittest-xml-reporting==2.5.2
urllib3==1.26.12
webencodings==0.5.1
wrapt==1.14.1
zipp==1.2.0
